sudo: False
sudo: required
os:
- linux
services:
- docker
language: python

matrix:
  include:
    - python: 3.6

install:
  # Install conda
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update conda

  # Install dependencies
  - conda create -n test -c conda-forge python=$TRAVIS_PYTHON_VERSION pip
  - source activate test
  - conda install requests pytest paramiko pyftpdlib -y -c defaults -c conda-forge
  - pip install git+https://github.com/jcrist/hadoop-test-cluster.git

script:
  - py.test -x -s -v --pyargs fsspec

notifications:
  email: false
