[tool.black]
target_version = ['py37', 'py38']
line-length = 88
skip-string-normalization = false
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | fsspec/_version.py
  | versioneer.py
)
'''

[tool.pytest.ini_options]
# custom markers, need to be defined to avoid warnings
markers = [
    "asyncio",
    "vcr",
]
filterwarnings = [
    "error",
]
