name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install hatch twine
      - name: Build
        run: |
          hatch build
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: packages
          path: dist/
          if-no-files-found: error
          compression-level: 0

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      contents: read
      id-token: write
    environment:
      name: pypi
      url: https://pypi.org/p/fsspec
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: packages
          path: dist/
      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          print-hash: true
          verbose: true
